<!DOCTYPE html>
<html>
  <body>
    <h1>Jogo da advinhação:</h1>
    <h3> Chuta ai: </h3>
    <form action = '/' method = 'get'>
      <input name = 'chute'/>
      <button>GET</button>
    </form>

    <div>
      <%= resultado %>
    </div>
  </body>
</html>
